$primary-color: #223744;
$secondary-color: #F4F4F4;
$step-one: #9fc5e8;
$step-two: #d5a6bd;
$step-three: #b6d7a8;
$step-four: #f9cb9c;
$finished-steps: #F06449;
$contrast: #029EA7;

$headline: Poppins;
$body-text: proxima-nova;
$buttons: Poppins;