body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #223744;
  color: #F4F4F4;
  font-family: proxima-nova;
  overflow-y: scroll;
}

h1 {
  font-family: Poppins;
}

a {
  color: #F4F4F4;
}

a:hover {
  color: #029EA7;
  cursor: pointer;
}

.login-logo {
  margin: 50px;
}

.left {
  width: 20%;
  min-width: 200px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 50px;
}

nav ul li {
  margin: 0px 0px 30px 0px;
}

nav ul li a {
  font-size: 18px;
  font-weight: 600;
}

.logo {
  width: 60%;
  min-width: 100px;
  margin: 30px 0px;
}

.container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 79.5vh;
}

.trin1 {
  background-color: #9fc5e8;
  color: black;
  width: 80%;
}

.trin2 {
  background-color: #d5a6bd;
  color: black;
  width: 80%;
}

.trin3 {
  background-color: #b6d7a8;
  color: black;
  width: 80%;
}

.trin4 {
  background-color: #f9cb9c;
  color: black;
  width: 80%;
}

.indhold {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.indhold .button__add {
  background-color: #029EA7;
  width: 150px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
  border-radius: 10px;
}

.indhold .button__add:hover {
  font-weight: bold;
  color: #F4F4F4;
}

.indhold table {
  width: 100%;
  margin: 10px 0px;
  border-collapse: collapse;
}

.indhold table .table__row--blue {
  background-color: #9fc5e8;
}

.indhold table .table__row--pink {
  background-color: #d5a6bd;
}

.indhold table .table__row--green {
  background-color: #b6d7a8;
}

.indhold table .table__row--yellow {
  background-color: #f9cb9c;
}

.indhold table .table__row--red {
  background-color: #F06449;
}

.indhold table .table__row--white {
  background-color: #F4F4F4;
  border-bottom: 2px solid #029EA7;
}

.indhold table .table__row--white:last-child {
  border-bottom: 0px;
}

.indhold table a {
  color: black;
}

.indhold table tr {
  display: show;
  color: black;
}

.indhold table tr:first-child {
  border-radius: 10px 10px 0px 0px;
}

.indhold table tr:last-child {
  border-radius: 0px 0px 10px 10px;
}

.indhold table td {
  padding: 20px;
}

.indhold table td:last-child {
  text-align: end;
}

.indhold table h4 {
  margin: 0px;
}

.indhold .table__pagination {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.indhold .table__pagination li {
  margin: 2px;
}

.indhold .faq__button {
  background-color: #029EA7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  width: 98%;
}

.indhold .faq__button:hover {
  cursor: pointer;
}

.indhold .faq__button:first-child {
  border-radius: 10px 10px 0px 0px;
}

.indhold .faq__button--luk {
  background-color: #029EA7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  width: 98%;
  display: none;
  border-radius: 10px 10px 0px 0px;
}

.indhold .faq__button--luk:hover {
  cursor: pointer;
}

.indhold .faq__answer {
  background-color: #F4F4F4;
  padding: 0px 10px;
  width: 98%;
  color: black;
  display: none;
}

.indhold .faq__answer:last-child {
  border-radius: 0px 0px 10px 10px;
}

.indhold form .checkbox {
  background-color: #F4F4F4;
  color: black;
  border-radius: 10px;
  padding: 5px 0px 20px 10px;
  margin-bottom: 10px;
}

.indhold form .checkbox h3 {
  text-align: center;
}

.indhold form .checkbox input[type=checkbox] {
  margin-right: 10px;
}

.indhold form .checkbox div {
  margin: 5px 0px;
}

.indhold .board__input {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  min-width: 5%;
}

.indhold .board__input input[type=text] {
  border: 1px solid #029EA7;
  width: 90%;
}

.indhold .board__input .flex {
  margin: 10px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.indhold .board__input .flex input[type="file"] {
  width: 40%;
}

.indhold .board__input .card__bagside {
  display: none;
}

.indhold .board__input .card {
  border: 1px solid #029EA7;
  background-color: #F4F4F4;
  color: black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  width: 230px;
}

.indhold .board__input textarea {
  width: 97%;
  padding: 10px;
  border-radius: 10px;
}

.indhold .board__input .billede {
  width: 100%;
}

.indhold .enkelt_admin--add_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indhold .enkelt_admin--add_wrapper:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.indhold .enkelt_admin--add_wrapper .enkelt_admin--button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indhold .enkelt_admin--add_wrapper .enkelt_admin--button_wrapper .button__add {
  margin-right: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input[type="text"], input[type="password"], input[type="email"] {
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 10px;
  height: 40px;
  margin: 5px 0px 15px 0px;
}

input[type="submit"] {
  background-color: #029EA7;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: #F4F4F4;
  padding: 10px 60px;
  height: 45px;
  margin: 5px 0px 15px 0px;
  width: 200px;
}

input[type="submit"]:hover {
  cursor: pointer;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */