@import "reset";
@import "vars";
@import "mixins";

body{
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $body-text;
    overflow-y: scroll;
}
h1{
    font-family: $headline;
}
a{
    color: $secondary-color;
    &:hover{
        color: $contrast;
        cursor: pointer;
    }
}

.login-logo{
    margin: 50px;
}

nav{
    display: flex;
    flex-direction: column;
    margin: 0px 4%;
    ul{
        li{
            margin: 0px 0px 30px 0px;
            a{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
.logo{
    width: 200px;
    margin: 40px 4%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.indhold{
    width: 90%;
    display: flex;
    flex-direction: column;
    .button__add{
        @include button;
    }
    table{
        width: 100%;
        margin: 10px 0px; 
        border-collapse: collapse;
        .table__row--blue{
            background-color: $step-one;
        }
        .table__row--pink{
            background-color: $step-two;
        }
        .table__row--green{
            background-color: $step-three;
        }
        .table__row--yellow{
            background-color: $step-four;
        }
        .table__row--red{
            background-color: $finished-steps;
        }
        .table__row--white{
            background-color: $secondary-color;
            border-bottom: 2px solid $contrast;
            &:last-child{
                border-bottom: 0px;
            }
        }
        a{
            color: black;
        }
        tr{
            display: show;
            color: black;
            &:first-child{
                border-radius: 10px 10px 0px 0px;
            }
            &:last-child{
                border-radius: 0px 0px 10px 10px;
            }
        }
        td{
            padding: 20px;
            &:last-child{
                text-align: end;
            }
        }
        h4{
            margin: 0px;
        }
    }
    .table__pagination{
        align-self: flex-end;
        li{
            margin: 2px;
        }
    }
    .faq__button{
        background-color: $contrast;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        width: 98%;
        &:hover{
            cursor: pointer;
        }
        &:first-child{
            border-radius: 10px 10px 0px 0px;
        }
    }
    .faq__button--luk{
        background-color: $contrast;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        width: 98%;
        display: none;
        border-radius: 10px 10px 0px 0px;
        &:hover{
            cursor: pointer;
        }
    }
    .faq__answer{
        background-color: $secondary-color;
        padding: 0px 10px;
        width: 98%;
        color: black;
        &:last-child{
            border-radius: 0px 0px 10px 10px;
        }
        display: none;
    }
}

//Flex
.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

//Inputs
input[type="text"], input[type="password"], input[type="email"]{
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    height: 40px;
    margin: 5px 0px 15px 0px;
}

input[type="submit"]{
    background-color: $contrast;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: $secondary-color;
    padding: 10px 60px;
    height: 45px;
    margin: 5px 0px 15px 0px;
    width: 200px;
    &:hover{
        cursor: pointer;
        font-weight: bold;
    }
}