<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.typekit.net/sjx5bgt.css">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png"/>
    <title>Regndans</title>
</head>
<body>
    <div class="flex">
        <div class="left flex-center">
            <img class="logo" src="../img/logo.png">
        </div>
        <div></div>
    </div>
    <div class="flex">
        <div id="app">
            <navi></navi>
        </div>
        <div class="container">
            <div id="table" class="indhold">
                <a href="opret_board.html" class="button__add">Opret board</a>
                <table>
                    <tr v-for="board in sortedBoards" v-bind:class="{ 'table__row--red': board.red, 'table__row--blue': board.blue, 'table__row--pink': board.pink, 'table__row--green': board.green, 'table__row--yellow': board.yellow }">
                      <td>
                        <a v-if="board.blue == 'blue'" href="trin1.html">{{board.name}}</a>
                        <a v-else-if="board.pink == 'pink'" href="trin2.html">{{board.name}}</a>
                        <a v-else-if="board.green == 'green'" href="trin3.html">{{board.name}}</a>
                        <a v-else-if="board.yellow == 'yellow'" href="trin4.html">{{board.name}}</a>
                        <a v-else href="trin1.html">{{board.name}}</a>
                    </td>
                      <td><h4>{{board.amount}}</h4></td>
                    </tr>
                </table>

                <div class="table__pagination">
                    <button @click="prevPage">◄</button> 
                    <button @click="nextPage">►</button>
                </div>
              </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="../Components/admin_menu.js"></script>
    <script src="../Components/tabel_pagination.js"></script>
</body>
</html>
